<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.learnon.mapper.CouponMapper">
	<!-- 쿠폰 조회 -->
  	<select id="selectCoupon" resultType="coupon">
  		SELECT 
			m.MEM_ID
			, my.COUPON_ID
			, ci.COUPON_CODE
			, ci.COUPON_NAME
		    , ci.DISCOUNT_AMOUNT
		    , ci.DISCOUNT_PERCENT
		FROM MEMBER m JOIN MYCOUPON my 
		ON m.MEM_ID = my.MEM_ID
		JOIN COUPONINFO ci
		ON my.COUPON_ID = ci.COUPON_ID
		WHERE m.MEM_ID = ${memId}
  	
  	</select>
  
  
  
  </mapper>
